@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');

/************ GENERAL ***********/
body {
	font-family: 'Roboto', sans-serif;
}

.container {
	padding: 0;
	margin: 0;
	position: relative;
	overflow: auto;
	width: 100%;
}

section {
	padding: 30px;
}

div.row {
	margin-top: 40px;
	/*overflow: hidden;*/
}

.section_description {
	width: 90%;
	min-height: 140px;
	margin-top: 20px;
	color: #828282;
}

.section_description a {
	width: 192px;
  height: 23px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}

/************ GENERAL ***********/

/************ NAVBAR ***********/
.navbar-default {
	height: 70px;
	background-color: #000;
	border-color: #000;
}

.navbar-default img {
	width: 170px;
	margin-left: 67.5px;
}

.navbar-nav {
	margin: 7.5px -15px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	font-size: 1.2em;
	color: #FFF;
}

.navbar-default .navbar-nav>li>a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

li .logo_header {
	width: 30px;
	height: 30px;
	margin-left: 0;
}

li .logo_header > a {
	text-align: center;
}

img .logo_header {
	width: 32px;
	height: 32px;

}
/************ NAVBAR ***********/


/************ SECTION BANNER ***********/

div#title_box {
	position: absolute;
   	top: 200px;
   	left: 0;
   	width: 40%;
   	margin-left: 100px;
}
section#banner h2 {
   	color: #FFF;
   	font-family: 'Roboto', sans-serif;
  	font-size: 46.5px;
  	font-weight: bold;
  	font-stretch: condensed;
  	line-height: 1.13;
  	letter-spacing: 4.4px;
}

div#play_video > img {
	color: #f7e500;
}

video.fullscreen-bg__video {
	width: 100%;
	height: auto;
	object-fit: cover;
}

#chevron_down {
	position: absolute;
  left: 0;
  width: 100%;
  bottom: 50px;
  text-align: center;
}
/************ SECTION BANNER ***********/


/************ SECTION PROTOTYPE ***********/
section#prototype {
	padding: 30px;
	padding-top: 5px;
}

section#prototype h3 {
  	font-family: 'Roboto', sans-serif;
  	font-size: 1.4em;
  	font-weight: 300;
  	text-align: left;
  	color: #828282;
		line-height: 1.8;
}

section#prototype h1 {
  	font-family: 'Roboto', sans-serif;
  	font-size: 48px;
  	font-weight: 900;
  	text-align: left;
  	color: #000;
}

#image_switch {
	text-align: center;
}

.proto_switch {
	display: inline-block;
	width: 55px;
  	height: 2.5px;
  	margin-right: 10px;
  	background-color: #d8d8d8;
}

div#liste_icones_proto {
	text-align: center;
	margin-top: 60px;
}

div#liste_icones_proto h5,
div#liste_icones_proto h6 {
	margin-left: 10px;
}

div#liste_icones_proto h5 {
	font-size: 15px;
  	font-weight: bold;
  	color: #828282;
}

div#liste_icones_proto h6 {
	font-size: 12px;
  	color: #000000;
}

div#liste_icones_proto img {
	width: 100px;
	height: auto;
}

/************ SECTION PROTOTYPE ***********/

/************ SECTION EQUIPE ***********/
section#equipe {
	background-color: #f6f6f6;
	padding: 30px;
	height: 580px;
}

#team_picture {
	/*margin-left: 21px;*/
	width: 550px;
	height: auto;
}

.rectangle_y {
	width: 380px;
	height: 445px;
	border: solid 12px #f7e71f;
}

#equipe_description,
#donations_description {
	width: 370px;
  	height: 415px;
  	background-color: #ffffff;
  	margin: 20px 20px 20px -20px;
  	padding: 20px;
}

#equipe_description h5,
#donations_description h5 {
	font-size: 20px;
  	text-align: left;
  	text-transform: uppercase;
  	color: #828282;
}

#equipe_description h2,
#donations_description h2 {
	font-size: 44px;
  	font-weight: 900;
  	letter-spacing: 1.3px;
  	text-transform: uppercase;
  	text-align: left;
  	color: #f7de00;
}

#equipe_description h3,
#donations_description h3 {
	/*width: 411px;*/
  height: 284px;
  font-family: Roboto;
  font-size: 1.2em;
	font-weight: 300;
  line-height: 1.8;
  text-align: left;
  color: #828282;
}
/************ SECTION EQUIPE ***********/

/************ SECTION MEMBRES ***********/
section#membres {
	background-color: #ffffff;
	overflow-x: hidden;
}

section#membres > h1,
section#membres > h3,
section#quote_commanditaires {
	font-size: 2.4em;
  	font-weight: 500;
  	width: 700px;
  	letter-spacing: 1.1px;
  	text-align: center;
  	color: #929292;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 50px;
}

section#membres > h3 {
	font-size: 1.8em;
}

.row.line_members {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
	margin-left: 0;
}

div.membre_desc {
	width: 216px;
	text-align: center;
}

div.membre_desc > h5 {
	color: #929292;
	font-weight: 300;
}

div.membres_desc > h4 {
	 /*font-weight: 500;*/
}

/************ SECTION MEMBRES ***********/

/************ SECTION DONATION ***********/
section#donations {
	background-image: url(../img/donation/donation-img@2x.png);
	min-height: 600px;
	overflow-x: hidden;
}

#donations_description {
	height: 480px;
}

.section_description a {
	font-weight: 400;
	font-size: 0.78em;

}

/************ SECTION DONATION ***********/


/************ SECTION COMMANDITAIRES ***********/

section#quote_commanditaires {
	height: 200px;
	width: 900px;
	margin-top: 100px;
}

section#liste_commanditaires {
	background-color: #f7e71f;
	padding: 50px;
}

section#liste_commanditaires > h5 {
	margin-top: 40px;
	text-align: center;
}

section#liste_commanditaires > h5 > a {
	color: #000;
	text-decoration: underline;
}

/************ SECTION COMMANDITAIRES ***********/


/************ SECTION FOOTER ***********/

footer h2 {
	color: #f7e71f;
 	-webkit-text-stroke: 1px #000000;
}

.footer_title {
	color: rgba(141, 139, 140, 0.59);
}

.footer_section_desc {
	color: #8d8b8c;
}

.logo_footer_icon {
	padding: 10px;
}

#footer_infos {
	text-align: center;
	color: #8d8b8c;
}

#footer_infos a {
	text-decoration: underline;
	color: #000;
}

#desc_footer {
	padding: 20px;
	color: #8d8b8c;
	font-size: 1.0em;
	font-weight: 300;
	padding-top: 10px;
	line-height: 1.5;
}

#logo_footer {
	padding-left: 20px;
}

footer > div.row {
	margin-left: 0;
	margin-right: 0;
}

/************ SECTION FOOTER ***********/


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	#equipe_description h3 {
		font-size: 0.5em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}